#regions
# name, length
a, 2147483648
b, 2147483648

# phase 1
# name of phase
example phase 1
# time in ms
1000
# access patterns
# name of region, randomness, stride, probability
a, 0, 0, 100

# phase 2
example phase 2
# time in ms
1000
# access patterns
# name of region, randomness, stride, probability
b, 0, 0, 100
